<div class="px-4 pb-4 pl-md-0">
  <mat-card class="weather-card p-0 position-relative">
    <mat-card-content *ngIf="(data$ | async)?.name; else spinner"
                      class="weather-card__content p-4">
      <h2 class="weather-card__content__city d-flex align-content-start">
        <span class="flex-grow-1">
          {{ (data$ | async)?.name }}
        </span>
        <img [src]="'http://openweathermap.org/img/w/' + (data$ | async)?.weather[0].icon + '.png'"
             width="50"
             height="50" />
      </h2>
      <div class="mb-4">
        <div class="weather-card__content__item w-100 d-flex align-items-end">
          <label class="font-weight-bold mr-2">TEMP</label>
          {{ (data$ | async)?.main.temp }}ºc
        </div>
        <div class="weather-card__content__item w-100 d-flex align-items-end">
          <label class="font-weight-bold mr-2">HUM</label>
          {{ (data$ | async)?.main.humidity }}%
        </div>
      </div>
      <button mat-raised-button
            (click)="openHistory()">
        History
      </button>
    </mat-card-content>
    <ng-template #spinner>
      <mat-spinner [diameter]="50"
                   class="position-absolute w-100 h-100 d-flex align-items-center justify-content-center">
      </mat-spinner>
    </ng-template>
  </mat-card>
</div>
