:host {
  max-width: 500px;

  ::ng-deep {
    .mat-progress-spinner svg {
      position: relative !important;
    }
  }
}

.weather-card {
  min-height: 350px;
  overflow: hidden;

  &__content {
    &__item {
      font-size: 2rem;
      label {
        font-size: 1rem;
      }
    }
  }
}
